body {
    background-color: rgb(20, 22, 22);
    color: aliceblue;

}

:root {
    --primary: rgb(0, 85, 182);
    --light: white;
    --dark: rgb(66, 66, 66);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

h1{
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: none;

}
.hamburger-span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.hamburger.is-active span:nth-child(3)

.menu {
    display: none;
}


/*
.button-example {
    
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 17px 30px;
    border: 0;
    color: #fff;
    font-size: 17.5px;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    line-height: 30px;
    transition: background,color .1s ease-in-out;

}

.button-example:hover {
    background-color: #000;
    color: #fff
    }
            */
            